/*Tes saja*/
/*
.navigasi {
  background-color: #745adb;
}
.main {
  background-color: #00ff00;
}
.main span {
  color: #ffffff;
}
*/
/*
a {
  background-color: #9681eb;
}
img {
  width: 100px;
  height: 100px;
}
*/
/*
a {
  background-color: #9681eb;
  width: 200px;
  height: 200px;
  display: inline-block;
}
*/
/*
h1,
h2,
h3,
p {
  background-color: #4727c5;
}
*/
/*
.main {
  background-color: #00ff00;
  width: 600px;
}
.main h3 {
  background-color: #8772de;
}
*/
/*
img {
  display: none;
}
*/
.navigasi li {
  display: inline;
}
